<%- include('../partials/header') %>

<ul style="list-style: none">
  <% reviews.forEach(r => { %>
  <li>
    <a href="/reviews/<%= r._id%>"><%= r.title %> - <%= r.park.name %></a>
  </li>
  <% }); %>
</ul>
<div class="new-link-div">
  <a class="new-link" href="/reviews/new">Add Review</a>
</div>
<%- include('../partials/footer') %>
