<%- include('../partials/header') %>

<ul>
  <% reviews.forEach(r => { %>
  <li><a href="/reviews/<%= r._id%>"><%= r.title %> - <%= r.park %></a></li>
  <% }); %>
</ul>

<a href="/reviews/new">Add Review</a>

<%- include('../partials/footer') %>
