<%- include('../partials/header') %>

<section id="show-page">
  <div>Park:</div>
  <div><%= review.park.name %></div>
  <div>Rating:</div>
  <div><%= review.rating %></div>
  <div>Shade:</div>
  <div><%= review.shade %></div>
  <div>Age Range:</div>
  <div><%= review.ageRange %></div>
  <div>Condition:</div>
  <div><%= review.condition %></div>
  <div>Content:</div>
  <div><%= review.content %></div>
</section>

<a href="/reviews/update/<%= review._id %>">Edit Review</a>

<%- include('../partials/footer') %>
