<%- include('../partials/header') %>

<section id="show-page">
  <div class="property">Park:</div>
  <div><%= review.park.name %></div>
  <div class="property">Rating:</div>
  <div><%= review.rating %></div>
  <div class="property">Shade:</div>
  <div><%= review.shade %></div>
  <div class="property">Age Range:</div>
  <div><%= review.ageRange %></div>
  <div class="property">Condition:</div>
  <div><%= review.condition %></div>
  <div class="property">Content:</div>
  <div><%= review.content %></div>
</section>

<a href="/reviews/update/<%= review._id %>">Edit Review</a>

<%- include('../partials/footer') %>
