<%- include('../partials/header') %>

<section id="show-page">
  <div>Park:</div>
  <div><%= review.park %></div>
  <div>Rating:</div>
  <div><%= review.rating %></div>
  <div>Shade:</div>
  <div><%= review.shade %></div>
  <div>Age Range:</div>
  <div><%= review.ageRange %></div>
  <div>Condition:</div>
  <div><%= review.condition %></div>
  <div>Content:</div>
  <div><%= review.content %></div>
</section>

<%- include('../partials/footer') %>
