<%- include('../partials/header') %>

<section id="show-page">
  <div class="property">Park:</div>
  <div><%= review.park.name %></div>
  <div class="property">Rating:</div>
  <div><%= review.rating %></div>
  <div class="property">Shade:</div>
  <div><%= review.shade %></div>
  <div class="property">Age Range:</div>
  <div><%= review.ageRange %></div>
  <div class="property">Condition:</div>
  <div><%= review.condition %></div>
  <div class="property">Content:</div>
  <div><%= review.content %></div>
</section>

<form action="/reviews/update/<%= review._id %>" method="GET">
  <button type="submit">Edit Review</button>
</form>
<form
  action="/reviews/<%= review._id %>?_method=DELETE"
  class="delete-form"
  method="POST"
>
  <button type="submit">Delete Review</button>
</form>

<%- include('../partials/footer') %>
