<%- include('../partials/header') %>

<ul style="list-style: none">
  <% parks.forEach(p => { %> <% console.log(p) %>
  <li>
    <a href="/parks/<%= p._id %>"
      ><%= p.name %> - <%= p.street %> - <%= p.city %></a
    >
  </li>
  <% }); %>
</ul>

<a class="new-link" href="/parks/new">Add Park</a>

<%- include('../partials/footer') %>
