<%- include('../partials/header') %>

<ul style="list-style: none">
  <% parks.forEach(p => { %> <% console.log(p) %>
  <li><a href="/parks/<%= p._id %>"><%= p.name %> - <%= p.street %></a></li>
  <% }); %>
</ul>

<a href="/parks/new">Add Park</a>

<%- include('../partials/footer') %>
