<%- include('../partials/header') %>

<section id="show-page">
  <div class="property">Street:</div>
  <div><%= park.street %></div>
  <div class="property">City:</div>
  <div><%= park.city %></div>
  <div class="property">Washrooms:</div>
  <div><%= park.washrooms %></div>
  <div class="property">Amenities:</div>
  <div><%= park.amenities %></div>
  <div class="property">Reviews:</div>
  <div>
    <% reviews.forEach(r => { %>
    <li><a href="/reviews/<%= r._id %>"><%= r.title %></a></li>
    <% }); %>
  </div>
</section>
<a class="new-link" href="/reviews/new">Add Review</a>
<%- include('../partials/footer') %>
